include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pyproject.toml
recursive-include config *.yaml
recursive-include templates *.txt
recursive-include docs *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .pytest_cache
global-exclude *.log
